.home {
  text-align: center;
  padding: 20px;
}

.headline {
  font-size: 2em;
  margin-bottom: 0.01em;
  color: black;
}

.secondheadline {
  font-size: 0.75em;
  margin-bottom: 40px;
  color: black;
}
